catalog {
    background-color: white;
    width: 100%;
}
cd {
    position: relative;
    height: 200px;
    width: 300px;

    background: cyan;
        border: 1px solid black;
    display: block;
    margin-bottom: 30pt;
    margin-left: 0;
    font-family: Arial, "Times New Roman", Times, serif;
}



title {
    display: block;
    color: blue;
    font-size: 20pt;
    scale: (0.5, 0.5);

}

artist {
    display: block;
    color: #0000ff;
    font-size: 20pt;

}

country, price, year, company {
    display: block;
    color: #000000;
    margin-left: 20pt;
    margin-bottom: 10px;
    
    -ms-transform: scale(2, 3); /* IE 9 */
    -webkit-transform: scale(2, 3); /* Safari */
    transform: scale(2, 3);    
   
}