title, paragraph{
    display: block;
}

title{
    font-size: 40px;
    text-align: center;
    background-color: dodgerblue;
}
paragraph{
    margin-top: 30px;
    background-color: tomato;
    font-size: 20px;
}
title:hover{
    font-size: 30px;
    font-weight: bold;
    color: darkgreen;
    background-color: cyan;
    width: 30%;
}
paragraph:hover{
    width: 50%;
    background-color: lawngreen;
    color: purple;
    font-size: 40px;
}